.title,
.title-large,
.heading {
    font-weight: $weight-bold;
    letter-spacing: 0.5px;
}

.title {
    font-size: $fs-title;
}

.title-large {
    font-size: $fs-title-lg;
}

.heading {
    color: $white;
    font-size: $fs-heading;
    line-height: 1.2;
}

.img-cover {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $background;
    opacity: 0;
    pointer-events: none;
    @include transition($transition-short);
    z-index: 3;
}

.overlay.active {
    opacity: 0.5;
    pointer-events: all;
}

.meta-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn {
    color: $white;
    font-size: $fs-button;
    font-weight: $weight-bold;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 12px;
    padding-inline: 20px 24px;
    border-radius: $radius-8;
    @include transition($transition-short);
}

.btn-play:is(:hover, :focus-visible) {
    opacity: .9;
}

.card-badge {
    background-color: $banner-background;
    color: $white;
    font-size: $fs-label;
    font-weight: $weight-bold;
    padding-inline: 6px;
    border-radius: $radius-4;
    @include transition($transition-short);
}

.poster-box {
    background-image: url(../img/poster-bg-icon.png);
    aspect-ratio: 2 / 3;
}

.poster-box,
.video-card {
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    background-color: $banner-background;
    border-radius: $radius-16;
    overflow: hidden;
}

.title-wapper {
    margin-block-start: 24px;
    margin-block-end: 16px;
}

.slider-list {
    margin-left: -20px;
    overflow-x: scroll;
    padding-block-end: 16px;
    margin-block-end: -16px;
}

.slider-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.slider-list:is(:hover, :focus-visible)::-webkit-scrollbar-thumb {
    background-color: $banner-background;
}

.slider-list::-webkit-scrollbar-button {
    width: 20px;
}

.slider-list .slider-inner {
    position: relative;
    display: flex;
    gap: 16px;
}

.slider-list .slider-inner::before,
.slider-list .slider-inner::after {
    content: '';
    min-width: 4px;
}

.separator {
    width: 4px;
    height: 4px;
    background-color: $white-alpha-20;
    border-color: $radius-8;
}

.video-card {
    background-image: url(../img/video-bg-icon.png);
    aspect-ratio: 16/9;
    flex-shrink: 0;
    max-width: 500px;
    width: calc(100% - 40px);
}

.search-modal {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $surface;
    padding: 50px 24px;
    overflow-y: scroll;
    z-index: 4;
    display: none;
}

.search-modal.active {
    display: block;
}

.search-modal::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient($bottom-overlay);
    z-index: 1;
    pointer-events: none;
}

.search-modal .label {
    color: $primary-variant;
    font-weight: $weight-bold;
    margin-block-end: 8px;
}