* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fs-body, $primary-font, 1.5, $text-color, none);
    background: $background;
    color: $on-background;
    @include custom-scrollbar();
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
