#movie-list {
    position: relative;
    background-color: $surface;
    color: $on-surface;
    padding: 20px 24px 48px;
    overflow-y: overlay;
    z-index: 1;
}

.genre-list .title-wapper {
    margin-block-end: 56px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 20px;
}

:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {
    width: 100%;
}

.load-more {
    background-color: $primary-variant;
    margin-inline: auto;
    margin-block: 36px 60px;
}

.load-more:is(:hover, :focus-visible) {
    background-color: hsla(350, 67%, 39%, 1);
}

.load-more.loading::before {
    display: block;
}

@keyframes loading {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}

.load-more::before {
	content: "";
	width: 20px;
	height: 20px;
	border: 3px solid $white;
	border-radius: $radius-24;
	border-inline-end-color: transparent;
	animation: loading 500ms linear infinite;
	display: none;
}